auto/scnuthesis.el
auto/scnux.el
auto/thesis.el
auto/
*.el
*~
*.rm
*.thm
*.aux 
*.log
*.toc 
*.ind 
*.inx 
*.gls
*.aux
*.glo 
*.ist 
*.idx 
*.ilg 
*.out 
*.bak 
*.bbl 
*.brf 
*.blg 
*.dvi
.#*
#*
*.ps 
.fuse*