auto/
*.el
*~
*.rm 
*.aux 
*.log
*.toc 
*.ind 
*.inx 
*.gls
*.aux
*.glo 
*.ist 
*.idx 
*.ilg 
*.out 
*.bak 
*.bbl 
*.brf 
*.blg 
*.dvi
.#*
#*
*.ps 
data\*.aux
data\*.log  
data\*.out
data\*.toc
*.thm
*.zip
scnuthesis.glo
scnuthesis.idx
scnuthesis.ilg
scnuthesis.ind
scnuthesis.out
scnuthesis.toc
thesis.bbl
thesis.blg
thesis.lof
thesis.lot
thesis.out
thesis.toc
thesis.html

